<!DOCTYPE html>
<html>
<head>
<title>Employee Overtime</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<style>

table{
width:100%;
border-collapse:collapse;
font-size:18px;
}

th{
background:#f39c12;
color:white;
padding:12px;
}

td{
padding:12px;
border-bottom:1px solid #ccc;
}

input{
padding:8px;
width:120px;
font-size:16px;
}

</style>

</head>

<body>

<div class="container">

<h2>EMPLOYEE OVERTIME ENTRY</h2>

<form action="/save_overtime" method="POST">

<table>

<tr>
<th>Name</th>
<th>Overtime (Hours)</th>
</tr>
{% for emp in employees %}
<tr>

<td>
{{ emp }}
</td>

<td>
<input type="number" name="ot_{{ emp }}" step="0.5" placeholder="Ex: 1.5">
</td>

</tr>
{% endfor %}


</table>

<br><br>

<button class="save-btn">Save Overtime</button>

</form>

<br>

<a href="/"><button class="report-btn">Back</button></a>

</div>

</body>
</html>
